---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set pages = ["/", "/about.html", "/services.html", "/gallery.html", "/testimonials.html", "/faq.html", "/book-us.html"] %}
{% for url in pages %}
  <url>
    <loc>{{ settings.site_url }}{{ url }}</loc>
  </url>
{% endfor %}
</urlset>
